/* for row element*/
.input-row {
	
}
.input-row > * {
			float: left;
		}
.order {
	width:5%;
}

.col {
	width:18%;
	padding-left: 2px;
}

#defCol {
	width:5%;
	height: 100%;
	 margin:auto;
	 height: 40px;
	 background: red;
}

#defCol input{
	float: left;
	display: block;
	height: 10px;
	margin: auto;
	padding: auto;
	 margin:auto;
}