@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html,body {
	background-color: none repeat scroll 0 0 #f6f8f8;
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	margin:0;
	padding:0;
	height:100%;
}
#cloud-container {
	min-height: 100%;
	position: relative;
}

.clear {
	clear: both;
}

.main {
	margin: auto;
	max-width: 960px;
	height: 100%;
	padding-bottom:50px;
}

.wrap {
	margin: 0 auto;
	width: 100%;
}

.header {
	width: 100%;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
	color: #FFF;
	cursor: default;
	font-size: 0.8em;
	left: 0;
	position: relative;
	top: 0;
	width: 100%;
	z-index: 10000;
	background: none repeat scroll 0 0 #1ABC9A;
}

.header .logo a {
	float: left;
	display: block;
	font-family: "Oxygen", sans-serif;
	font-size: 1.5em;
	font-weight: 700;
	text-decoration: none;
	padding: 0.6em 0.75em;
	color: #FFF;
}

.header .search {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #486179;
	border-radius: 2px;
	position: relative;
	float: left;
	/* margin: 0.6em 0.75em; */
}

.header .menu {
	float: left;
}

.header .menu ul {
	
}

.header .menu  li {
	float: left;
}

.header .menu  li a {
	border: solid 1px transparent;
	color: inherit;
	display: inline-block;
	line-height: 1.5em;
	padding: 0.6em 0.75em;
	text-decoration: none;
	font-size: 1.2em;
}

.header .menu  li img {
	line-height: 1.5em;
	padding: 0.2em 0.2em;
}

#pull {
	display: none;
}

.header .search form input[type="text"] {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: medium none;
	color: #94a3b1;
	font-family: "Oxygen", sans-serif;
	font-size: 0.85em;
	margin: 0;
	outline: medium none;
	padding: 7px;
}

.header .search form input[type="submit"] {
	background-image: url("../images/search-icon.png");
	border: medium none;
	color: #94a3b1;
	margin-right: 0.2em;
}

/*List pattern */
.list-pattern {
	border: medium #ffccff;
	display: block;
	width: 100%;
}

.list-pattern>li {
	/* background: pink; */
	width: 100%;
	/* cursor: pointer; */
}

.list-pattern li h3 {
	margin-bottom: .5em;
}

.list-pattern li h3 a {
	/* color: #000; */
	/* text-decoration: none; */
	
}
#newPattern h3 a, #randomPattern h3 a {
	/* color: #000; */
	text-decoration: none;
	font-size: .3em; 
	
}
.list-pattern .detail .avatar {
	width: 50px;
	height: 50px;
	overflow: hidden;
	float: left;
}

.list-pattern .detail .avatar img {
	width: 100%;
}

.list-pattern .detail ul {
	overflow: hidden;
	float: left;
}

.list-pattern .detail ul li {
	font-size: 12px;
	margin-left: 5px;
}

/*Detail nav*/
.detail-nav {
	width: 100%;
	height: 30px;
	line-height: 30px;
	background: #1ABC9C;
}

.detail-nav ul {
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.detail-nav li {
	display: inline-block;
	margin: 0 2px;
	min-width: 70px;
}

.detail-nav li a {
	color: #fff;
	font-size: 1em;
	text-decoration: none;
	font-weight: bold;
	transition: all 0.2s ease;
}

.detail-nav  a:hover {
	color: #34495E;
}

.detail-nav a.active {
	border-bottom: 2px solid #fed516;
}

/*Detail show*/
.detail-show {
	display: block;
}

.detail-show li {
/* 	height: 2.5em; */
	padding-left: 5px;
	background-color: #CEF;
	margin-bottom: 2px;
	font-size: 1.5em;
	line-height: 2.5em;
}

/*Setting */
.setting {
	display: block;
	border: medium solid #FFF;
	margin: 5px 0;
}

.setting .show span {
	display: inline;
	float: left;
	font-weight: bold;
}

.setting .show ul {
	display: inline;
	float: left;
}

.setting .show li {
	float: left;
	min-width: 80px;
	line-height: 1.2em;
	margin: 2px 5px;
}

.setting .show a {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	font-family: Arial;
	color: #ffffff;
	font-size: 1em;
	background: #3498db;
	padding: 1px 2px 1px 2px;
	text-decoration: none;
	border: none;
}

.setting .show .selected {
	/* background-color: #1dff1d; */
	border: 2px solid #ffb3ec;
}

.detail-main {
	display: block;
	background-color: #FFF;
	margin-top: 5px;
}

.create-main {
	display: block;
	background-color: #FFF;
	margin-top: 5px;
}

.create-main table {
	width: 100%;
	border: 2px;
}

.create-main table  th {
	border: 2px;
}

.create-main table input {
	width: 95%;
	margin: 1px;
}

.create-main textarea {
	width: 100%;
	height: 250px;
}

.create-main .review {
	width: 100%;
	max-height: 250px;
	overflow: scroll;
}

.game {
	display: block;
	width: 100%;
	height: 500px;
	background: pink;
}

#footer {
	height: 60px;
	text-align: center;
	width: 100%;
	border-top: 2px solid #1ABC9A;
	border-bottom: 2px solid #1ABC9A;
	background: none repeat scroll 0 0 #1ABC9A;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
}

#footer .nav {
	with: 100%;
}

#footer .nav li {
	float: left;  
	position: relative;
}

#footer .nav li a {
	border: solid 1px transparent;
	color: inherit;
	display: inline-block;
	line-height: 1em;
	padding: 0.6em 0.75em;
	/* 	text-decoration: none; */
	font-size: 1em;
}

#footer .copyright li {
	width: 100%;
	font-size: 0.5em;
}

.over-scroll {
	overflow: scroll;
}

.hide {
	/* visibility: hidden; */
	display: none;
}

.width30percent {
	width: 15% !important;
}

.border {
	position: relative;
	border: 1px solid #bbb;
	margin: 5px 0px;
	padding: 5px 5px 0px 5px;
	box-shadow: inset 0 1px 1px #EEE;
}

.content {
	margin: 0.5em 0;
}

.error {
	background: red;
}

input[type="button"] {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	font-family: Arial;
	color: #ffffff;
	font-size: 1em;
	background: #3498db;
	padding: 1px 2px 1px 2px;
	text-decoration: none;
	border: none;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}

/* input[type="button"]:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
} */

/***************************************/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	
}

.col1, .col2, .col3 {
	margin:  auto;
	width: 100%;
}
.tiles {
	width: 100%;
	/* background: #000; */
	margin-top: .5em;
}
.tile {
	background-color: #fff;
	color: #333;
	cursor: pointer;
	float: left;
	font-size: 1.3em;
	font-weight: 300;
	height: 7em;
	margin: 0 auto 1%;
	overflow: hidden;
	position: relative;
	text-align: center;
	transition: background-color 0.2s ease-out 0s;
}

.tile-2xbig {
	height: 16.15em;
	width: 100%;
}

.tile-big {
	width: 100%;
}

.tile img {
	height: 70%;
	width: 100%;
}

.tile-small {
	margin-right: 1%;
	width: 49.5%;
}

.tile-small.last {
	margin-right: 0;
}

 .tile-litle {
	width: 49.75%;
	background: #56d9c9;
	transform-style: preserve-3d;
  	transition: all 0.1s ease;
  	-webkit-transition: all 0.1s ease;
  	-moz-transition: all 0.1s ease;
}

.tile-litle:hover {
	transform: scale(1.2, 1);
	-moz-transform: scale(1.2, 1);
	-webkit-transform: scale(1.2, 1);
	box-shadow: 0 0 1em .21em maroon;
	-webkit-box-shadow: 0 0 1em .1em maroon;
	-moz-box-shadow: 0 0 1em .21em maroon;
	-o-box-shadow: 0 0 1em .21em maroon; 
	z-index: 1000;
}

.tile-litle first {
	margin-left: 0;
}
.col3 li{
	margin-left: 0.5%;
}

.col3 li:nth-child(odd) {
	margin-left: 0%;
}
.tile div {
	bottom: 0;
	display: table;
	height: 100%;
	left: 0;
	padding: 0 1em;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	transition: all 0.3s ease 0s;
	width: 100%;
}

.tile div p {
	display: table-cell;
	vertical-align: middle;
}

.tile-1 {
	background-color: #3ec7f3;
	color: white;
}

.tile-2 {
	background-color: #455962;
	color: white;
}
.tile-2 div{
	text-align: left;
}

.tile-2:hover {
	background-color: white;
	color: #455962;
}

.tile-3 {
	background-color: #ddd;
	color: #455962;
}

.tile-3:hover {
	background-color: white;
	color: #455962;
}

.tile-5 {
	background-color: #fcc120;
	color: white;
}
.tile-5 span{
	font-size: 1.2em;
	color: rgb(113, 72, 84);
}
/* .tile-5:hover {
	background-color: #fff;
	color: #fcc120;
} */

.tile-6 {
	background-color: #932FCD;
	color: white;
}

.tile-7, .tile-8 {
	background-color: transparent;
}

.tile-10 {
	background-color: #f0514a;
	color: white;
}

.tile-10:hover {
	background-color: white;
	color: #f0514a;
}

.tile-10 div {
	text-align: left;
}

.tile-3 p {
	font-size: 4em;
	margin-top: 0.5em;
}

.tile-5 p, .tile-6 p {
	font-size: 2em;
}


.slideTextUp div:nth-child(2) {
	top: 100%;
}

.slideTextUp:hover div {
	transform: translateY(-100%);
}

.tile-1 p {
	font-size: 1.3em;
}

.slideTextRight div:first-child {
	left: -100%;
}

.slideTextRight:hover div {
	transform: translateX(100%);
}

.slideTextLeft div:nth-child(2) {
	left: 100%;
}

.slideTextLeft:hover div {
	transform: translateX(-100%);
}


@media screen and (min-width: 30em) {
	.col1, .col2 {
		float: left;
		width: 100%;
	}
	.col3 {
		margin-right: 1%;
		/* margin-left: 2em; */
	}
	.page-title {
		font-size: 2.5em;
	}
	.page-content {
		font-size: 1em;
	}
	.close-button {
		font-size: 2em;
	}
	.tile-litle {
		width: 49.75%;
	}
}

@media screen and (min-width: 43em) {
	.col1 {
		float: left;
		width: 49.75%;
	}
	.col2 {
		float: left;
		margin-left: .5%;
		width: 49.75%;
	}
	.col3 {
		margin-right: 1%;
		/* margin-left: 2em; */
	}
	.page-title {
		font-size: 2.5em;
	}
	.page-content {
		font-size: 1em;
	}
	.close-button {
		font-size: 2em;
	}
	.tile-litle {
		width: 16.25%;
	}

	.col3 li {
		margin-left: .5%;
	} 
	.col3 li:first{
		margin-left: 0%;
	}
	.col3 li:nth-child(3), .col3  li:nth-child(5){
		margin-left: .5%;
	}  
	
	.header .menu {
		float: right;
	}
	
	.header .search {
		background: none repeat scroll 0 0 #fff;
		border: 1px solid #486179;
		border-radius: 2px;
		position: relative;
		float: left;
		margin: 0.6em 0.75em;
	}
	.tile {
		height: 11em;
	}
	.tile-intro {
		font-size: 0.8em;
	}
}

.move-up {
	transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
}

.move-left {
	transform: translateX(100%);
	-webkit-transform: translateX(100%);
}

#btnNew {
	color: #ffffff;
	background: #3498db;
}